body {
    background-color: white;
    color: #002654;
}

h1,h2,h3,h4,p {color: #51be78;}

a {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    background: #002654;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
}

button {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    background: #002654;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
}

input {
    display: block;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    transition: all 0.3s ease-out;
    box-shadow:
        inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
    color: #555;
}

input:focus {
    outline: none;
    background-position: 0 -1.7em;
}
